# FastAPI Core
fastapi
uvicorn
gunicorn
python-multipart

# Database
SQLAlchemy>=2.0
psycopg2-binary
asyncpg
alembic

# Authentication & Security
PyJWT==2.12.1
cryptography
passlib[bcrypt]
bcrypt
google-auth

# External Services & APIs
razorpay
google-generativeai
google-api-python-client
yfinance
cachetools

# Utils & Settings
python-dotenv
pydantic>=2.0
pydantic-settings
httpx
pytz
redis
APScheduler

# Data & Math
pandas
numpycachetools==7.0.5
